<table>
  <tr>
    <td class="label">{{ 'noOfDates' | translate }}:</td>
    <td class="value">
      <mat-form-field class="formFieldWidth480 full-width">
        <input
          #inputRef
          type="number"
          [value]="overview.noOfDates"
          (change)="noOfDatesChange(inputRef)"
          matInput
        />
      </mat-form-field>
    </td>
  </tr>
  <tr>
    <td class="label">{{ 'noOfLadies' | translate }}:</td>
    <td class="value">{{ overview.noOfLadies }}</td>
  </tr>
  <tr>
    <td class="label">{{ 'noOfMen' | translate }}:</td>
    <td class="value">{{ overview.noOfMen }}</td>
  </tr>
  <tr>
    <td class="label">{{ 'medianAgeLadies' | translate }}:</td>
    <td *ngIf="overview.medianAgeLadies" class="value">
      {{ overview.medianAgeLadies }}
    </td>
  </tr>
  <tr>
    <td class="label">{{ 'medianAgeMen' | translate }}:</td>
    <td *ngIf="overview.medianAgeMen" class="value">
      {{ overview.medianAgeMen }}
    </td>
  </tr>
  <tr>
    <td class="label">{{ 'ageRange' | translate }}:</td>
    <td class="value">{{ overview.minAge + '...' + overview.maxAge }}</td>
  </tr>
</table>
