<div class="actions">
  <button mat-raised-button color="primary" class="action" (click)="add()">
    {{ 'addAction' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="action"
    [disabled]="!isEmpty()"
    (click)="paste()"
  >
    {{ 'pasteFromClipboardAction' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="action"
    [disabled]="isEmpty()"
    [cdkCopyToClipboard]="copy()"
  >
    {{ 'copyToClipboardAction' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="action"
    [disabled]="isEmpty()"
    (click)="removeAll()"
  >
    {{ 'deleteAllAction' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="action"
    [disabled]="!hasSingleSelection()"
    (click)="edit()"
  >
    {{ 'editAction' | translate }}
  </button>
  <button
    mat-raised-button
    color="primary"
    class="action"
    [disabled]="!hasSelection()"
    (click)="remove()"
  >
    {{ 'deleteAction' | translate }}
  </button>
</div>

<mat-form-field appearance="standard">
  <mat-label>{{ 'filter' | translate }}</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Filter..."
    #input
  />
</mat-form-field>

<div class="participants-container">
  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox
          (click)="$event.stopPropagation()"
          (change)="$event ? selection.toggle(row) : null"
          [checked]="selection.isSelected(row)"
        >
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'firstName' | translate }}
      </th>
      <td mat-cell *matCellDef="let person">
        <div class="firstname-cell">
          <mat-chip-list>
            <mat-chip [color]="genderColor(person)" selected>
              <mat-icon [svgIcon]="person.gender" aria-hidden="false">
              </mat-icon>
            </mat-chip>
          </mat-chip-list>
          <span class="firstname-value">
            {{ person.firstName }}
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'lastName' | translate }}
      </th>
      <td mat-cell *matCellDef="let person">{{ person.lastName }}</td>
    </ng-container>

    <ng-container matColumnDef="age">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'age' | translate }}
      </th>
      <td mat-cell *matCellDef="let person">{{ person.age }}</td>
    </ng-container>

    <ng-container matColumnDef="startsAtTable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ 'startsAtTable' | translate }}
      </th>
      <td mat-cell *matCellDef="let person">{{ startsAtTable(person) }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
