<mat-toolbar color="primary"
  >Setting Up Your Seating at a Speed Dating Event</mat-toolbar
>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="16px grid">
    <div fxFlex="70%" fxFlex.xs="100%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>List of Participants</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-participants></app-participants>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="30%" fxFlex.xs="100%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Event Overview</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-event-overview></app-event-overview>
        </mat-card-content>
      </mat-card>
    </div>
    <div fxFlex="100%">
      <mat-card class="mat-elevation-z4">
        <mat-card-header>
          <mat-card-title>Seating</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <app-seating-chart></app-seating-chart>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
